entrypoint = "index.js"
modules = ["nodejs-22"]
hidden = [".config", "package-lock.json"]
[nix]
channel = "stable-24_11"
packages = ["nano"]
[deployment]
run = "node index.js"
language = "nodejs"
deploymentTarget = "autoscale"
ignorePorts = false
[[ports]]
localPort = 3000
externalPort = 80
